# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SampleRagePlugin.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\prana\Programming\SampleRagePlugin\.idea\.idea.SampleRagePlugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
